.panel,
&.modal {
  .navbar {
    &-form {
      margin: 2px 0px;
      padding: 0;
      border: 0;
      overflow-y: visible;

      .form-group {
        white-space: nowrap;
        margin-left: 3px;
        margin-bottom: 0;
      }
    }

    &-left {
      padding-left: 5px;

      .btn,
      .form-control {
        margin-right: 2px;
      }
    }

    &-right {
      padding-right: 5px;

      .btn,
      .form-control {
        margin-left: 3px;
      }
    }

    &-header {
      height: 30px;
      z-index: 50;
      position: absolute;
      background: #f8f8f8;
      right: 0;

      .navbar-toggle {
        margin: 3px;
        padding: 4px;

        .fa,
        .far {
          text-align: center;
          width: 20px;
        }
      }
    }

    .btn {
      margin-right: 1px;
      margin-left: 1px;

      .fa,
      .far {
        font-size: 15px;
      }
    }

    .collapsing {
      padding-left: 0;
      padding-right: 0;

      .form-group {
        opacity: 0;

        .btn,
        .form-control {
          margin-left: 0;
          margin-right: 0;
          width: 100% !important;
        }
      }
    }

    .collapse.in {
      border-width: 1px 0 0 0;
      padding-left: 0;
      padding-right: 0;
      margin-right: -5px !important;

      .form-group {
        opacity: 1;
        border-top: 1px solid #ccc;
        margin: 0;
        padding: 0;

        .btn,
        .form-control {
          margin-left: 0;
          margin-right: 0;
          width: 100% !important;
        }
      }

      .btn,
      .btn-group {
        width: 100%;
        text-align: left;
      }

      .btn:hover {
        background: #ddd;
      }
    }
  }
}

.panel {
  position: relative;
  border-radius: 5px;
  background: #fff;
  display: flex;
  flex-direction: column;

  &.fullsize {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    > .panel-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .table-responsive {
        flex-grow: 1;
      }

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;

      &.with-header {
        top: 35px;
      }

      &.with-footer {
        bottom: 36px;
      }

      &.no-padding {
        padding: 0;

        .navbar {
          margin: -1px 0;
        }
      }
    }
  }

  &-body {
    position: relative;

    // &.with-footer {
    //   margin-bottom: 36px;
    // }

    // &.no-padding {
    //   padding: 0;

    //   .navbar {
    //     margin: -1px 0;
    //   }
    // }
  }

  &-heading {
    height: 35px;
    padding: 8px 10px;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
  }

  &-footer {
    position: absolute;
    width: 100%;
    height: 36px;
    bottom: 0;

    padding: 2px 5px;
  }

  &-tools {
    float: right;
    margin-top: -1px;
    margin-right: -2px;

    .form-control,
    .btn {
      margin-left: 3px;
    }
  }
}

.panel {
  &-default {
    .panel-heading {
      background-color: #fff !important;
      border-color: #ddd;

      @include gradient-vertical(#fff, rgba(245, 245, 245, 0.8));
    }

    //border-color: $baseColor !important;
    border-color: #ccc;
    border-radius: 5px;
  }
}
