.btn {
  padding: 4px 10px !important;
  .fa,
  .far {
    font-size: 15px;
  }

  &-default {
    background: $bg repeat-x;
    color: #333;
    background-color: #fff;
    border-color: #ccc;

    &.dropdown-toggle {
      &:active,
      &:focus,
      &.active {
        border-radius: 3px;
        border: 1px solid #ccc;
        border-color: #ccc !important;
        box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2);
        outline: none;
      }
    }
  }

  &-white {
    color: #333;
    background-color: #fff;
    border-color: #ccc;

    &:hover {
      background-color: #eee;
    }
  }

  &-border {
    border-color: #ccc !important;
    color: #333;

    &:hover {
      background-color: #ccc;
    }
  }

  &-split {
    font-size: 15px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    min-height: 20px;
  }

  &-icon-only {
    line-height: normal;

    .fa,
    .far {
      margin: 0 !important;
      font-size: 15px;
    }
  }
}
