&-notify {
  position: fixed;
  padding: 15px 20px;
  background: #3c4859;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  min-width: 250px;
  display: none;
  opacity: 0.9;

  button {
    color: #fff;
    text-shadow: 0 1px 0 #000;
    opacity: 0.6;

    &:hover {
      color: #fff;
      opacity: 0.9;
    }
  }

  .fa,
  .far {
    font-size: 18px;
    margin-right: 15px;
  }

  &-top {
    &-center {
      top: 50px;
      left: 50%;

      @include transform(translateX(-50%));
    }

    &-left {
      top: 60px;
      left: 10px;
    }

    &-right {
      top: 60px;
      right: 10px;
    }
  }

  &-bottom {
    &-left {
      bottom: 10px;
      left: 10px;
    }

    &-right {
      bottom: 10px;
      right: 10px;
    }

    &-center {
      bottom: 0;
      left: 50%;

      @include transform(translateX(-50%));
    }
  }
}
