&-msg {
  width: 63px;
  height: 68px;

  &-success {
    background: url("../img/i-success.png");
  }
  &-critical {
    background: url("../img/i-critical.png");
  }
  &-warning {
    background: url("../img/i-warning.png");
  }
  &-confirm {
    background: url("../img/i-confirm.png");
  }
  &-info {
    background: url("../img/i-info.png");
  }

  &-container {
    display: flex;
    align-items: center;
  }

  &-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
  }
}
