.navbar {
  padding: 2px;

  &-form {
    margin: 0;
  }

  .tableRight {
    padding-right: 6px;
  }

  .form-group {
    display: inline-block;
  }
}

// .navbar-collapse.in {
//   .select2-container {
//     width: 100% !important;
//   }
// }
// .modal-footer,
// .panel-footer {
//   .navbar {
//     padding: 0;
//     margin: 0;
//     border-width: 0;
//     min-height: 10px;
//     background: transparent;
//   }
// }

// .panel-body,
// .modal-body {
//   .navbar {
//     margin: -11px -10px 10px -10px;
//     padding: 0;
//     border-radius: 0;
//     border-width: 1px 0 1px 0;
//     border-color: #ccc;
//     min-height: 32px;
//     box-shadow: 0px 1px 1px rgba(100, 100, 100, 0.1);
//     z-index: 10;
//     overflow: hidden;
//     white-space: nowrap;

//     .dropdown-menu {
//       width: 100px;
//       display: none;
//       padding: 50px;
//       background: black;
//       z-index: 1000;
//       position: absolute;
//     }

//     .control-label {
//       padding-left: 3px;
//       padding-right: 3px;
//     }

//     .btn-default {
//       background: transparent;
//       border-color: transparent;

//       &:hover {
//         background: $bg;
//         border-radius: 3px;
//         border-color: #ccc;
//       }

//       .fa,
//       .far {
//         margin-left: 0;
//       }
//     }
//   }
// }

// .panel,
// &.modal {
//   .navbar {
//     &-form {
//       margin: 2px 0px;
//       padding: 0;
//       border: 0;
//       overflow-y: visible;

//       .form-group {
//         white-space: nowrap;
//         margin-left: 3px;
//       }
//     }

//     &-left {
//       padding-left: 5px;

//       .btn,
//       .form-control {
//         margin-right: 2px;
//       }
//     }

//     &-right {
//       padding-right: 5px;

//       .btn,
//       .form-control {
//         margin-left: 3px;
//       }
//     }

//     &-header {
//       height: 30px;
//       z-index: 50;
//       position: absolute;
//       background: #f8f8f8;
//       right: 0;

//       .navbar-toggle {
//         margin: 3px;
//         padding: 4px;

//         .fa,
//         .far {
//           text-align: center;
//           width: 20px;
//         }
//       }
//     }

//     .btn {
//       margin-right: 1px;
//       margin-left: 1px;

//       .fa,
//       .far {
//         font-size: 15px;
//       }
//     }

//     .collapsing {
//       padding-left: 0;
//       padding-right: 0;

//       .form-group {
//         opacity: 0;

//         .btn,
//         .form-control {
//           margin-left: 0;
//           margin-right: 0;
//           width: 100% !important;
//         }
//       }
//     }

//     .collapse.in {
//       border-width: 1px 0 0 0;
//       padding-left: 0;
//       padding-right: 0;
//       margin-right: -5px !important;

//       .form-group {
//         opacity: 1;
//         border-top: 1px solid #ccc;
//         margin: 0;
//         padding: 0;

//         .btn,
//         .form-control {
//           margin-left: 0;
//           margin-right: 0;
//           width: 100% !important;
//         }
//       }

//       .btn,
//       .btn-group {
//         width: 100%;
//         text-align: left;
//       }

//       .btn:hover {
//         background: #ddd;
//       }
//     }
//   }
// }
