// .column {
//   &.fullsize {
//     display: table;
//     width: 100%;
//     height: 100%;

//     .row {
//       height: 100%;
//       display: table-row;
//     }

//     div[class*='col-'] {
//       display: table-cell;
//       height: 100%;
//     }
//   }
// }

// input[type='checkbox'] {
//   margin: 3px;
//   //margin-left: -20px;
// }

// input[type='radio'] {
//   margin: 2px;
//   //margin-left: -20px;
// }

// .checkbox-inline,
// .radio-inline {
//   input[type='checkbox'],
//   input[type='radio'] {
//     margin-left: -20px;
//   }
// }

// .form-horizontal,
// .form-inline,
// .form-default {
//   .form-group {
//     margin-bottom: 5px;
//   }
// }

// /* Navs (Tabs & Pills) Override */
// .navs {
//   .tab-content {
//     padding: 10px;
//     margin-top: -1px;
//     border: 1px solid #ddd;
//   }

//   ul {
//     li {
//       margin-top: 3px;
//       a {
//         padding-top: 5px;
//         height: 30px;
//         border-radius: 3px 3px 0 0;
//         border: 1px solid #ccc;
//         background: #eee;
//         color: #333;

//         box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, 0.2);

//         &:hover {
//           border: 1px solid #ccc;
//           background: #ddd;
//         }
//       }

//       &.active {
//         a {
//           box-shadow: none;
//           background: #fff;
//           border-bottom: none;
//         }
//       }
//     }
//   }
// }

// /* Background Override */

// .solid {
//   .panel-heading,
//   .table thead,
//   .modal-header {
//     background: $bg repeat-x;
//     box-shadow: 0px 1px 1px rgba(100, 100, 100, 0.1);
//   }

//   .panel-heading,
//   .modal-header {
//     background: $baseColor;
//     color: white;
//   }

//   .panel,
//   .modal {
//     border-color: $baseColor;
//     border-width: 2px;
//   }
// }

// .table thead {
//   background: #efefef;
//   border: 0;

//   th {
//     text-align: center;
//     vertical-align: middle;
//   }
// }

// /* Button Override */
// .btn-icon-only {
//   line-height: normal;

//   .fa,
//   .far {
//     margin: 0 !important;
//     font-size: 15px;
//   }
// }

// .btn-split {
//   font-size: 15px !important;
//   padding-left: 5px !important;
//   padding-right: 5px !important;
//   min-height: 20px;
// }

// .btn-border {
//   border-color: #ccc !important;
//   color: #333;

//   &:hover {
//     background-color: #ccc;
//   }
// }

// .btn-white {
//   color: #333;
//   background-color: #fff;
//   border-color: #ccc;

//   &:hover {
//     background-color: #eee;
//   }
// }

// .btn-default {
//   background: $bg repeat-x;

//   &.dropdown-toggle {
//     &:active,
//     &:focus,
//     &.active {
//       border-radius: 3px;
//       border: 1px solid #ccc;
//       border-color: #ccc !important;

//       box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.2);
//       outline: none;
//     }
//   }
// }

// .input-group-btn {
//   .btn-default {
//     padding: 4px 8px 3px 8px;
//     height: 26px;
//   }
// }

// .input-group {
//   .btn {
//     border-radius: 0;
//   }
// }

// .input-group-addon {
//   font-size: 12px;
//   border-radius: 0;

//   .icon-left,
//   .icon-right {
//     margin-left: 0;
//     margin-right: 0;
//   }
// }

// /* Object Override */

// .btn {
//   font-weight: normal;
//   font-size: 12px;
//   padding: 3px 5px;
//   line-height: normal;

//   .fa,
//   .far {
//     font-size: 15px;
//   }
// }

// select.form-control {
//   padding: 3px 3px;
// }

// .form-control {
//   font-size: 12px;
//   height: 26px;
//   padding: 3px 5px;
//   border-radius: 0;
// }

// .control-label {
//   padding-top: 5px;
//   font-weight: normal;
// }

// .navbar-collapse.in {
//   .select2-container {
//     width: 100% !important;
//   }
// }

// .tableRight {
//   padding-right: 5px;
// }

// .check {
//   label {
//     font-weight: normal;
//   }
// }

// /* Navbar Override */

// .modal-footer,
// .panel-footer {
//   .navbar {
//     padding: 0;
//     margin: 0;
//     border-width: 0;
//     min-height: 10px;
//     background: transparent;
//   }
// }

// .panel-body,
// .modal-body {
//   .navbar {
//     margin: -11px -10px 10px -10px;
//     padding: 0;
//     border-radius: 0;
//     border-width: 1px 0 1px 0;
//     border-color: #ccc;
//     min-height: 32px;
//     box-shadow: 0px 1px 1px rgba(100, 100, 100, 0.1);
//     z-index: 10;
//     overflow: hidden;
//     white-space: nowrap;

//     .dropdown-menu {
//       width: 100px;
//       display: none;
//       padding: 50px;
//       background: black;
//       z-index: 1000;
//       position: absolute;
//     }

//     .control-label {
//       padding-left: 3px;
//       padding-right: 3px;
//     }

//     .btn-default {
//       background: transparent;
//       border-color: transparent;

//       &:hover {
//         background: $bg;
//         border-radius: 3px;
//         border-color: #ccc;
//       }

//       .fa,
//       .far {
//         margin-left: 0;
//       }
//     }
//   }
// }

// /* Browse Button */

// &.browse-button {
//   margin: -7px -13px;
//   position: relative;

//   input {
//     position: absolute;
//     width: 80px;
//     height: 26px;
//     opacity: 0;
//   }
// }

// @import "../MessageBox/index";
