@mixin transition($values) {
  -webkit-transition: $values;
  -moz-transition: $values;
  -o-transition: $values;
  transition: $values;
}

@mixin transform($values) {
  -webkit-transform: #{$values};
  -moz-transform: #{$values};
  transform: #{$values};
}

@mixin translate3d($a, $b, $c: 0) {
  -webkit-transform: translate3d($a, $b, $c);
  -moz-transform: translate3d($a, $b, $c);
  transform: translate3d($a, $b, $c);
}

@mixin gradient-vertical($fromColor, $toColor) {
  background-color: $toColor;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($fromColor),
    to($toColor)
  );
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor);
  background-image: -moz-linear-gradient(top, $fromColor, $toColor);
  background-image: -ms-linear-gradient(top, $fromColor, $toColor);
  background-image: -o-linear-gradient(top, $fromColor, $toColor);
  background-image: linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin gradient-horizontal($fromColor, $toColor) {
  background-color: $toColor;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from($fromColor),
    to($toColor)
  );
  background-image: -webkit-linear-gradient(left, $fromColor, $toColor);
  background-image: -moz-linear-gradient(left, $fromColor, $toColor);
  background-image: -ms-linear-gradient(left, $fromColor, $toColor);
  background-image: -o-linear-gradient(left, $fromColor, $toColor);
  background-image: linear-gradient(left, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin shadow($values) {
  -webkit-box-shadow: $values;
  -moz-box-shadow: $values;
  box-shadow: $values;
}

@mixin box-sizing($values: border-box) {
  -webkit-box-sizing: $values;
  -moz-box-sizing: $values;
  box-sizing: $values;
}
