@import "fonts/font";
@import "mixins";

//configure
$baseColor: #007bff;
$bg: url("../img/bg.png");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 none;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
}
a {
  outline: none;
  text-decoration: none;
}

// Override Bootstrap component
@import "components/Modal/index";
@import "components/Button/index";
@import "components/NavBar/index";

// Original Component
.IT {
  @import "components/MessageBox/index";
  @import "components/Iframe/index";
  @import "components/Thumb/index";
  @import "components/Panel/index";
  @import "components/ImageBox/index";
  @import "components/Notify/index";
  @import "components/Icon/index";
  @import "components/Store/index";
  @import "components/DataTable/index";
}
