/* ImageBox */

&.imagebox {
  background: #eee;
  border-radius: 3px;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;

  &-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    opacity: 0;
    background: #000;

    @include transition(all 1s);
  }

  &-input {
    position: absolute;
    opacity: 0;

    top: 50%;
    left: 50%;

    width: 80px;
    height: 30px;

    margin-left: -40px;
    margin-top: -15px;
  }

  &-btn {
    position: absolute;

    top: 50%;
    left: 50%;

    margin-left: -40px;
    margin-top: -15px;

    opacity: 0;

    @include transition(all 1s);
  }

  &-crop-container {
    position: relative;
    overflow: hidden;
    margin: auto;
  }

  &-cropper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: white;
    opacity: 0.5;

    border: 2px solid black;
  }

  &:hover {
    .imagebox-mask {
      opacity: 0.2;
    }

    .imagebox-btn {
      opacity: 1;
    }
  }
}
