.table-responsive {
  width: auto;
  min-height: 200px;
  position: relative;
  overflow: hidden;
  z-index: 5;
  top: 0 !important;
  display: flex;
  flex-direction: column;

  .table-wrapper {
    flex-grow: 1;
  }

  .table-fixed {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 1px 1px rgba(100, 100, 100, 0.1);
  }

  .table {
    margin-bottom: 0;

    th,
    td {
      padding: 4px 6px;
      font-weight: normal;
      border-bottom-width: 1px;
      border-color: #eee !important;
      line-height: normal;
    }

    th {
      border-color: #ddd !important;
      padding: 8px 6px;
      background: none;
    }

    > thead {
      @include gradient-vertical(#fff, #eee);
    }

    > tbody {
      > tr {
        &:hover {
          background: #fcf8e3;
        }

        &.selected {
          background: #dff0d8;

          > td {
            background: #dff0d8;
          }
        }

        > td {
          .table-editor {
            .btn {
              padding: 2px 5px;
              font-size: 12px;
            }

            .radio-inline,
            .checkbox-inline,
            .static-inline {
              vertical-align: middle;
              min-height: 24px;
              line-height: 24px;

              input {
                top: 3px;
              }
            }

            .static-inline {
              font-size: 15px;
            }

            &.align-center {
              .checkbox-inline {
                text-align: center;
              }
            }
          }

          &.no-padding {
            padding: 2px;
          }

          &.table-editing {
            padding: 0;

            input,
            textarea,
            select {
              min-height: 32px;
              padding: 0 6px;
              width: 100%;
            }

            input,
            select {
              line-height: 32px;
            }

            textarea {
              padding: 8px 6px 10px;
              line-height: normal;
            }
          }

          &.table-changed {
            position: relative;

            div {
              &.table-cell,
              &.table-editor {
                &:before {
                  content: "";
                  border-width: 6px;
                  border-style: solid;
                  border-color: red transparent transparent transparent;
                  position: absolute;
                  top: -6px;
                  left: -6px;

                  @include transform(rotate(135deg));
                }
              }
            }
          }
        }
      }
    }

    &-cell {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 5px 1px;
    }

    &.wrap {
      .table-cell {
        white-space: normal;
        overflow: visible;
      }
    }
  }

  .navbar-pagination {
    margin: 0 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1) !important;
    border-width: 1px 0px 0px 0px !important;
    border-radius: 0 0 3px 3px !important;
    order: 2;
    background-color: #f8f8f8;

    .form-group {
      display: flex;
      align-items: center;
    }

    .navbar-form {
      display: inline-block !important;
      margin: 0px !important;
      padding: 3px !important;
      white-space: nowrap;
    }

    input {
      width: 50px !important;
      display: inline-block !important;
    }

    .btn {
      padding: 3px 3px;
      margin: 0 2px;
    }

    .icon-left {
      margin-right: 0px;
    }

    .form-control-static {
      margin-left: 8px;
      padding-top: 0;
    }
  }
}
