.imat-frame {
  position: absolute;
  border: 1px solid #eee;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

  iframe {
    overflow: auto;
    border: 0px solid #fff;
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
  }
}
